*
{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    /*instead of unset, inherit... continue à descendre ou monter de façon plus "smooth" plutot que stop abrupt*/
    scroll-behavior:smooth;
}

body {
    background: linear-gradient(#c0e9fa,#04003a);
    min-height: 100vh;

    /* je vais déplacer des trucs horizontalement sans que le user ne puisse les "suivre"*/
    overflow-x: hidden;
}

footer{
    /* fait un ToUpper à tous les txts du header!!*/
    text-transform: uppercase;
    position:relative;
    bottom : 0;
    margin-bottom: 0%;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content:center;
    align-items: center;
}
/*
footer ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
#neon-btn {
    display: flex;
    align-items: center;
    height: 100vh;
    /*background: #031628; */
}
  
.btn {
    border: 1px solid;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
    font-weight: 300;
}
.Home{
    color: rgba(253, 34, 34, 0.966);
}
  
.About {
    color: #b9e769;
  }
  
.CV {
    color:  #4cc9f0;
}

.Contact {
    color: rgb(189, 13, 189);
}
  
.btn:hover {
    color: white;
    border: 0;
}
  
.Home:hover {
    background-color: red;
    -webkit-box-shadow: 10px 10px 99px 6px red;
    -moz-box-shadow: 10px 10px 99px 6px red;
    box-shadow: 10px 10px 99px 6px red;
}
  
.About:hover {
    background-color: #08df37;
    -webkit-box-shadow: 10px 10px 99px 6px #38ff63;
    -moz-box-shadow: 10px 10px 99px 6px #38ff63;
    box-shadow: 10px 10px 99px 6px #38ff63;
}
  
.CV:hover {
    background-color: #0de3eb;
    -webkit-box-shadow: 10px 10px 99px 6px #0ef7ff;
    -moz-box-shadow: 10px 10px 99px 6px #0ef7ff;
    box-shadow: 10px 10px 99px 6px #0ef7ff;
}

.Contact:hover{
    background-color: #db0f9e;
    -webkit-box-shadow: 10px 10px 99px 6px #db0f9e;
    -moz-box-shadow: 10px 10px 99px 6px #db0f9e;
    box-shadow: 10px 10px 99px 6px #db0f9e;
}
  

section{

    /* Idk if mixing % vh and px is ok, but that's where I m heading for the whole project */
    position: relative;
    width: 100%;
    height: 100vh;
    padding:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textbox {
    font-size: 32px;
    color: rgb(19, 19, 1);
}

.appearing{
    opacity: 0.3;
}
section img#catsmile
{
    opacity: 70%;
    height: 20vh;
    width: 20%;
    mix-blend-mode:screen;
    margin-left: 60vh;
}

#cards_background{
    z-index: 1;
}
#cards_front{
    z-index: 100;
}

#text, #madtext, #finaltext{
    z-index: 10;
   /* right: -200px;*/
    position: absolute;
    color: rgb(19, 19, 1);
    font-family: 'Times New Roman', Times, serif;
    font-size: 4.5vw;
    overflow: hidden;
}

section img{
    position: absolute;
    top:80px;
    left:0;
    width: 100%;
    height:100%;
    object-fit: cover;
}

